<div class="limiter">
    <div class="container-login100">
        <div class="custom">
                Expense Manager
        </div>
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form class="login100-form validate-form" [formGroup]="frmPassRecovery" (ngSubmit)="onSubmit()">
                <span class="login100-form-title p-b-33">Reset Password</span>
                
                <input class="input100" type="password" placeholder="New Password" formControlName="newpass" [ngClass]="{ 'is-invalid': submitted && fval.newpass.errors }">
                <span class="focus-input100-1"></span>
                <span class="focus-input100-2"></span>
                <div *ngIf="submitted && fval.newpass.errors" class="invalid-feedback">
                    <div *ngIf="fval.newpass.errors.required">
                        New password required
                    </div>
                </div><br>

                <input class="input100" type="password" placeholder="Confirm Password" formControlName="conpass" [ngClass]="{ 'is-invalid': submitted && fval.conpass.errors }">
                <span class="focus-input100-1"></span>
                <span class="focus-input100-2"></span>
                <div *ngIf="submitted && fval.conpass.errors" class="invalid-feedback">
                    <div *ngIf="fval.conpass.errors.required">
                        Confirm password required
                    </div>
                </div>
            
                <div class="container-login100-form-btn m-t-20">
                    <button class="login100-form-btn">Submit</button>
                </div>
                <div class="text-center">
                    <span class="txt1">Already have an account? </span>
                    <a routerLink="" class="txt2 hov1">Sign in</a>
                </div>
            </form>
        </div>
    </div>
</div>