<div class="container">
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                  Notification
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>{{msg}}</p>
                    <footer class="blockquote-footer">Go to <cite title="Source Title"><a (click)="onClick()" style="cursor: pointer;color: coral;">Login</a></cite></footer>
                  </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>
