<app-navbar></app-navbar>
<div class="alert alert-info" *ngIf="msg != ''">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	{{msg}}
</div>
<div class="container mt-3" style="margin-top:30px">
    <div class="row" style="margin-top:30px">
        <div class="col">
            <span class="alert alert-warning" role="alert">
                <b>Dashboard on :</b> {{monthYear}}
            </span>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <h2><b>Ledger Details</b></h2><br>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label class="radio-inline">
                <input type="radio" name="optradio" value="current" checked (change)="Oncurrent()">  <b>Current Month</b>
              </label>
              &nbsp;
              <label class="radio-inline">
                <input type="radio" name="optradio" value="date" (change)="dateSpecific()"> <b>Date specific</b>
              </label>
        </div>
        <div class="col-8" id="dateSpecific" id="dateSpecific" *ngIf="dateSpec">
            <form [formGroup]="dataForm" class="form-inline" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="From" readonly
                        id="dpf" ngbDatepicker #d1="ngbDatepicker" formControlName="dpf" [ngModel]="month" [ngClass]="{ 'is-invalid': submitted && dval.dpf.errors }" [maxDate]="currentEnd">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </div>
                        <div *ngIf="submitted && dval.dpf.errors" class="invalid-feedback">
                            <div *ngIf="dval.dpf.errors.required">
                                From date is required
                            </div>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="To" readonly
                        id="dpt" ngbDatepicker #d2="ngbDatepicker" formControlName="dpt" [ngModel]="month" [ngClass]="{ 'is-invalid': submitted && dval.dpt.errors }" [maxDate]="currentEnd">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                        </div>
                        <div *ngIf="submitted && dval.dpt.errors" class="invalid-feedback">
                            <div *ngIf="dval.dpt.errors.required">
                                To date is required
                            </div>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
                <span>
                    <a style="cursor: pointer" class="btn btn-default float-right" (click)="exportexcel()"><i class="fa fa-save"></i></a>
                </span>
            <table class="table table-hover table-sm" id="excel-table">
                <thead class="thead-dark">
                  <tr align="center">
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Ledger Name</th>
                    <th scope="col">Opening Balance</th>
                    <th scope="col" style="color: red;">Debit</th>
                    <th scope="col" style="color: green;">Credit</th>
                    <th scope="col">Closing Balance</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody *ngIf="ledgerData">
                  <tr align="center" *ngFor="let led of ledgerData;let i=index;" [ngClass]="{'table-success':led.credit!=0,'table-danger':led.debit!=0}">
                    <th scope="row">{{i+1}}</th>
                    <td>{{led.dt_on | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{led.name | titlecase}}</td>
                    <td>{{led.opening | currency:"INR"}}</td>
                    <td>{{led.debit | currency:"INR"}}</td>
                    <td>{{led.credit | currency:"INR"}}</td>
                    <td>{{led.closing | currency:"INR"}}</td>
                    <td>{{led.status | titlecase}}</td>
                  </tr>
                  
                </tbody>
                <tbody *ngIf="!ledgerData">
                    <tr class="table-info">
                        <td colspan="8" align="center">No data found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner>

