
<div class="limiter">
		<div class="container-login100">
			<div class="custom">
					Expense Manager
			</div>
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<form class="login100-form validate-form" [formGroup]="frmPassRecovery" (ngSubmit)="onSubmit()">
                    <span class="login100-form-title p-b-33">Forget Password</span>
                    <div class="wrap-input100 validate-input">
						<input class="input100" type="email" placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fval.email.errors }">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
						<div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
							<div *ngIf="fval.email.errors.required">
								Valid Email is required
							</div>
						</div>
					</div>
					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn">Submit</button>
					</div>
					<div class="text-center">
						<span class="txt1">Already have an account? </span>
						<a routerLink="" class="txt2 hov1">Sign in</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
		<p style="color: white">Please Wait. </p>  
	</ngx-spinner> 